
<!-- TABS -->
<ion-tabs>

  <!-- Dashboard Tab -->
  <ion-tab title="Booking" href="#/app/booking/booking">
    <ion-nav-view name="tab-booking"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="BookingList" href="#/app/booking/bookinglist">
    <ion-nav-view name="tab-bookinglist"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!--<ion-tabs class="tabs-icon-top">-->

  <!--<ion-tab title="Home" icon="ion-home" href="#/tab/home">-->
    <!--<ion-nav-view name="home-tab"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="About" icon="ion-ios-information" href="#/tab/about">-->
    <!--<ion-nav-view name="about-tab"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">-->
    <!--<ion-nav-view name="contact-tab"></ion-nav-view>-->
  <!--</ion-tab>-->

<!--</ion-tabs>-->
