<ion-view title="History">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right list list-inset" ng-repeat="booking in bookings" type="item-text-wrap">

        <h2>Token No      : {{booking.tokenno}}</h2>
        <h2>Date          : {{booking.date}}</h2>
        <h2>Time          : {{booking.time}}</h2>
        <h2>Fees          : {{booking.fees}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
